<section>
  <div>
    <img class="pokemon" src="https://vignette.wikia.nocookie.net/es.pokemon/images/b/be/Charmander_%28anime_SO%29.png/revision/latest?cb=20120906002506"
      width="150" height="150">
    <div class="healthbar">
      <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" [ngStyle]="{width: charmanderSalud + '%'}">
        {{ charmanderSalud}}
      </div>
    </div>
  </div>
  <div>
    <img class="pokemon" src="https://vignette.wikia.nocookie.net/es.pokemon/images/5/5d/Pikachu_%28anime_DP%29.png/revision/latest?cb=20120906045146"
      height="150">
    <div class="healthbar">
      <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" [ngStyle]="{width: pikachuSalud + '%'}">
        {{ pikachuSalud}}
      </div>
    </div>
  </div>
</section>
<section class="controls" *ngIf="!gameIsRunning">
  <div class="small-12 columns">
    <button id="start-game" (click)="iniciarJuego()">NUEVO JUEGO</button>
  </div>
</section>
<section class="controls" v-else>
  <div>
    <button id="attack" (click)="atacar()">ATAQUE</button>
    <button id="special-attack" (click)="specialAttack()">ATAQUE ESPECIAL</button>
    <button id="heal" (click)="heal()">CURAR</button>
    <button id="give-up" (click)="giveUp()">RENDIRSE</button>
  </div>
</section>
<section class="log" *ngIf="turnos.length > 0">
  <div>
    <ul>
      <li *ngFor="let turn of turnos" [ngStyle]="{'player-turn': turn.isPlayer, 'monster-turn': !turn.isPlayer}">
        {{turn.text}}
      </li>
    </ul>
  </div>
</section>
